[submodule "dump1090"]
	path = dump1090
	url = https://github.com/stratux/dump1090
[submodule "vendor/github.com/kidoman/embd"]
	path = vendor/github.com/kidoman/embd
	url = https://github.com/kidoman/embd
[submodule "vendor/github.com/westphae/goflying"]
	path = vendor/github.com/westphae/goflying
	url = https://github.com/westphae/goflying
